/* .mat-toolbar {
    height: 100px;
    background-color: white;
    display: flex;
 }
 
 .navbar{
     margin-top: 25px;
     flex: 1 1 auto;
  text-align: center;
     
 }
 .sub{
     text-align: center;
 }


  /* .spacer{
    flex: 1 1 auto;
 }  */
 
 /* a{
     font-family: sans-serif;
     text-decoration: none;
 }
 a:hover{
     color: #c21f77;
     text-decoration: none;
     border-bottom: 2px solid #c21f77;

 }
 .content{
     margin-top: 5%;
 }
 .content h1{
     text-align: center;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
     font-weight: 400;
 }
 .content p{
     font-family: "quadon","Helvetica Neue",Helvetica,Arial,sans-serif;
     text-align: center;
 }
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 5%;
  }
  .card{
      margin-top: 5%;
      width: 85%;
      margin-bottom: 5%;
      margin-left: 3%;
      /* margin-right: 5%; */
      /* padding: 50px;
      display: flex;

  }
  .second{
      margin-left: 2%;
  }
  .third{
    margin-left: 2%;
  }
  .backg{
      background-color: #eaeaeb;
      margin-bottom: 5%;
  }
 
 #heading{
    
    font-weight: 500;
    font-size: large;
    text-align: center;
    margin-bottom: 5%;
  }  */

   