<section class="sub">
    <div class="text-center form-inline justify-content-center" style="margin-top: 2%;">
    <input type="email" placeholder="Email" size="40" class="form-control px-4 py-2">
    <input type="button" value="Subscribe" class="but px-4 py-2">
    </div>
    <div class="social" style="margin-top: 1%;">
        <div class="d-flex flex-row justify-content-center">
        <i class="fab fa-facebook-f m-2"></i>
        <i class="fab fa-twitter m-2"></i>
        <i class="fab fa-instagram m-2"></i>
        <i class="fab fa-youtube m-2"></i>
        </div>
    </div>
    </section>
    
    <!-- footer -->
    <section class="footer">
        <div class="container">
         <div class="row">
           <div class="col-md-4">
             <h5>LINKS</h5>
             <div class="place">
             <p><a routerLink="">Blog</a></p>
             <p><a routerLink="">Login</a></p>
             <p><a routerLink="">Sign Up</a></p>
      
            </div>
           </div>
           <div class="col-md-4">
             <h5>CONTACT</h5>
                ICTAK Tech Blog
                Thiruvananthapuram,
                kerala, India
                Phone: +91 6725678922
             <p>Email: ictaktechblog@gmail.com</p>
               FOR ENQUIRY:
               enquiryatictaktechblog@gmail.com
           </div>
           <div class="col-md-4">
             <div class="social">
             <h5>GET IN TOUCH</h5>
             <p><i class="fa fa-facebook-official"></i><a href="#">  Facebook</a></p>
             <p><i class="fa fa-instagram"></i><a href="#">  Instagram</a></p>
             <p><i class="fa fa-youtube-play"></i><a href="#">  Youtube</a></p>
            </div>
            </div>
         </div>
        </div>
        <br>
        <hr>
        <p class="copyright">Copyright@ ICTAK Tech Blog.All Rights Reserved</p>
       </section>
    
